<div class="col-xs-12 col-md-6 banner">
  <img
    src="/images/support-landing-page/about-hardware/hardware-banner-1.jpg"
    alt="Barn door HardWare"
    class="img-fluid"
  />
  <div class="top-center-container">
    <div class="light-text light-text-half">
      <h1>Barn Door HardWare</h1>
      <a
        href="/categories/hardware?&subs[]=Barn+Door+Hardware"
        class="btn btn-sm btn-elandel"
      >
        View All Hardware
        <i class="fal fa-chevron-right"></i>
      </a>
      <a
        href="/categories/hardware?&subs[]=Barn+Door+Handle"
        class="btn btn-sm btn-elandel"
      >
        View Handles
        <i class="fal fa-chevron-right"></i>
      </a>
      <a
        href="/categories/hardware?&subs[]=Bypass+Barn+door"
        class="btn btn-sm btn-elandel"
        >View Bypass Hardware <i class="fal fa-chevron-right"></i
      ></a>
    </div>
    <!-- .light-text .light-text-half -->
  </div>
  <!-- .top-center-container-->
</div>
<!-- .col-xs-12.col-md-6.col-lg-4.banner -->
